<h2 class="text-center">Saved Comps</h2>
<p class="text-center">
  <a href="/">home</a>
</p>
<!-- <div class='container'>
  <% team.forEach(teams => { %>
      <div class=" well">
          <h2><%= team.name %></h2>  
      </div>
      <div class="container index" id="dotaSet">
        <% dotaData.forEach(function(hero) { %>  
          <div 
            class="col dotaHeroCard" 
            data-id="<%= hero.hero_id %>"
            data-name="<%= hero.localized_name %>"
            data-img="<%= hero.img %>"
          >
            <p> <%= hero.localized_name %> <%= hero.hero_id %></p>
            <img src="http://cdn.dota2.com/<%= hero.img%>" width="100px">
          </div>  
        <% }) %>
      </div>

    <% }) %> 
</div> -->
