<h1 class="text-center">Saved Comps</h2>
<p class="text-center">
  <a href="/">Home</a>
  // 
  <a href="/team">Saved Teams</a>
</p>

<div class='container groupgroup'>
  <% teams.forEach(team => { %>
    <div class="row justify-content-md-center" style="margin-bottom: 20px;">
      <div class="well">
          <p><%= team.dataValues.team_name %></p>  
      </div>

      <div class="container index" id="dotaSet">
        <div class="col dotaHeroCard">
          <p> <%= team.dataValues.hero_1 %></p>
          <img src="http://cdn.dota2.com/<%= team.dataValues.hero_1_img %>" width="100px">
        </div> 
         
        <div class="col dotaHeroCard">
          <p> <%= team.dataValues.hero_2 %></p>
          <img src="http://cdn.dota2.com/<%= team.dataValues.hero_2_img %>" width="100px">
        </div>  

        <div class="col dotaHeroCard">
          <p> <%= team.dataValues.hero_3 %></p>
          <img src="http://cdn.dota2.com/<%= team.dataValues.hero_3_img %>" width="100px">
        </div>  

        <div class="col dotaHeroCard">
          <p> <%= team.dataValues.hero_4 %></p>
          <img src="http://cdn.dota2.com/<%= team.dataValues.hero_4_img %>" width="100px">
        </div>  

        <div class="col dotaHeroCard">
          <p> <%= team.dataValues.hero_5 %></p>
          <img src="http://cdn.dota2.com/<%= team.dataValues.hero_5_img %>" width="100px">
        </div>  
        
        <form method="POST" action="/team/delete/<%= team.dataValues.id %>/?_method=DELETE">
          <button class="btn btn-primary" name="delete" type="submit">Delete</button>
        </form>
      </div>
    </div>
  <% }) %> 
</div>
