<h1 class="text-center">Users</h2>
  <p class="text-center">
    <a href="/">Home</a>
    // 
    <a href="/teams"> List of Saved Teams by Users</a>
    //
    <a href="/users">Users</a>
  </p>


  <div class="groupgroup">
    Add new user: 
    <form method="POST" action="/users">
      <input type="text" name="userName" id='name' placeholder="User Name" required>
      <button class="btn " type="submit">Save</button>
    </form>
</div> 




<div class='container groupgroup'>
  <% users.forEach(user => { %>
    
  <div class="row index titleEdit" style="margin-bottom: 20px;">
     
        <div class="col" >
          <p><%= user.dataValues.user_name %></p>   
            <div class="userteams">

            <div class="container index " id="dotaSet">
              <div class="col" >
                <form method="GET" action="/users/edit/<%= user.dataValues.id %>">
                  <button class="btn" name="edit" type="submit">Edit</button>
                </form>
              </div> 
               <br>
              <form method="POST" action="/users/delete/<%= user.dataValues.id %>/?_method=DELETE">
                <button class="btn" name="delete" type="submit">Delete</button>
              </form>
            </div>

           <% user.dataValues.teams.forEach( team => { %>
                <div >
                  <p>Team Name: <%= team.team_name %> </p>  
                  
                  <div class="container index" id="dotaSet">
                    <div class="col dotaHeroCard">
                      <p> <%= team.dataValues.hero_1 %></p>
                      <img src="http://cdn.dota2.com/<%= team.dataValues.hero_1_img %>" width="100px">
                    </div> 
                    
                    <div class="col dotaHeroCard">
                      <p> <%= team.dataValues.hero_2 %></p>
                      <img src="http://cdn.dota2.com/<%= team.dataValues.hero_2_img %>" width="100px">
                    </div>  
                    <div class="col dotaHeroCard">
                      <p> <%= team.dataValues.hero_3 %></p>
                      <img src="http://cdn.dota2.com/<%= team.dataValues.hero_3_img %>" width="100px">
                    </div>  
                    <div class="col dotaHeroCard">
                      <p> <%= team.dataValues.hero_4 %></p>
                      <img src="http://cdn.dota2.com/<%= team.dataValues.hero_4_img %>" width="100px">
                    </div>  
                    <div class="col dotaHeroCard">
                      <p> <%= team.dataValues.hero_5 %></p>
                      <img src="http://cdn.dota2.com/<%= team.dataValues.hero_5_img %>" width="100px">
                    </div>  
                    
                    
                  </div>
                </div>
              <% }) %>
            </div>
        </div>


 <br>



    
  </div>
 

  <% }) %> 
</div>